build/
vcpkg/
code_packer.py
.packerignore
*.png
*.jpg
*.ttf
*.ogg
*.wav

third_party/
.vscode/
.VSCodeCounter/
.venv/
dist/
saves/
imgui.ini
packed_code.md
data.pak
devtools/*

!devtools/scripts/
game/
dist-dev/
vcpkg_installed/
.agent.md
screenshots/
*.zip
build-dev/
assets copy/
test/