build/
vcpkg/
code_packer.py
.packerignore
*.png
*.jpg
*.ttf
*.ogg
*.wav

third_party/
.vscode/
.VSCodeCounter/
.venv/
dist/
saves/
vcpkg/
imgui.ini
packed_code.md
data.pak

devtools/*
!devtools/scripts/